header nav{
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header  h1 {
    
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    float: right;
}

header li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.worldStats{
    border: dotted red 3px;
    padding: 10px;
    text-align: center;
}

body {
    font-family: ‘Gill Sans’, ‘Gill Sans MT’, ‘Trebuchet MS’, sans-serif;
}

#usaVworld {
    border: solid 3px black;
    padding: 10px;
}

.usa{
    border: solid 3px yellow;
}

#world{
    border: green solid 3px;
}

.about-us{
    justify-content: baseline;
    text-align: center;
}

.about-us h3{
    text-decoration: underline black;}

.about-us ul li{
    display: inline;
    padding: 50px;
}

section{
    display: inline;
    border: solid 3px gray;
    padding: 10px;
}

.state1{
    border: solid 3px red;
    padding: 10px;
}

.state2{
    border: solid 3px blue;
    padding: 10px;
}

